<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Callculator page</title>
</head>
<body>
<div th:replace="pageFraments:: header_styles"/>
<div class="container">
<h1>Calculator</h1>
    <form th:action="@{/calculator}" method="post">
        Size x: <input type="number" step="1" min="1" name="sizeX">
        Size y: <input type="number" step="1" min="1" name="sizeY">
        <input type="submit">

    </form>

    <hr>
    <table th:if="${rowNumbet!=null && colNumbet!=null}">
        <tr th:each="row : ${#numbers.sequence(1,rowNumbet)}">
            <td th:each="col : ${#numbers.sequence(1,colNumbet)}">
                <span th:text="${row*col}"></span>
            </td>
        </td>
        </tr>
    </table>

</div>

<div th:replace="pageFraments:: footer_scripts"/>
</body>
</html>